<section data-ng-cloak class="text-left wrapper" data-ng-controller="ProjectController as pro">
	<div data-ng-show="loading" class="overlay"></div>

	<!-- the visualizer part on the left -->
	<div class="visualization">
		<div class="wrapper">
			<div class="dropdown-select">
				some options
		    </div>
			
			<div class="visualization-body">
				<div id="protein-visualizer" class="visualizer-tab">
					<div style="">click motifs to visualize</div>
				</div>
			</div>
		</div>
	</div>

	<!-- the edit/data part on the right -->
	<div class="sequence">
		<div class="wrapper">
			<!-- general project information -->
			<div class="sequence-header clearfix">
				<div>{{projectName}}</div>
				<div>created {{projectDate | date : "MM/dd/yyyy 'at' h:mma"}}</div>
				<div>{{protein.size}} residues</div>
				<div>{{proteins.length - 1}} models</div>
			</div>
			
			<!-- the sequence part -->
			<div style="overflow: hidden; padding: 20px 10px;">
				<div class="residue" style="display: inline;" title="{{residue.aminoAcid}}-{{residue.residueNumber}}" data-ng-repeat="residue in protein.chains[0].residues">{{residue.aminoAcid | oneLetterCode}}</div>
			</div>
			
			<!-- the motif part -->				
			<div data-ng-repeat="motif in protein.motifs">
				sequence: {{motif.sequence}} - start: {{motif.startResidueId}} - end: {{motif.endResidueId}}
			</div>
		</div>
	</div>
</section>

			<!-- div class="reconstruction computation clearfix">
				<ul>
					<li data-ng-repeat="level in reconstructionLevels" data-ng-class="{ active: protein.reconstructionLevel === level }">
						<a data-ng-click="pro.reconstruction($index)">{{level | replaceUnderscores | lowercase}}</a>
					</li>
				</ul>
			</div>-->